{% extends 'base.html' %}
{% load static %}

{%  block content %}

<body class="bg-grey-lightest font-serif leading-normal tracking-normal">

    <div class="container mx-auto p-8 md:p-16 mb-24">
        <section>
        <h1 class="text-lg font-bold my-8 ml-6">Top 10 most searched breeds</h1>
        {% for cat in most_searched_cats %}
           <div class="flex flex-col md:flex-row my-20">
               <img src="{{ cat.url_image }}" alt="{{ cat.name }}" class="rounded-3xl w-1/4 object-cover image-square mx-auto"/>
               <div  class="w-3/4 mt-6 md:mt-0 md:pl-6 mx-auto">
                   <a href="{% url 'catwiki_web:detail' cat.id_name %}"><h2 class="text-lg mb-6">{{ forloop.counter }}. {{ cat.name }}</h2></a>
                   <p>{{ cat.description }}</p>
               </div>
           </div>
        {% endfor %}
        </section>
    </div>
</body>

{% endblock %}

Studies have shown that just watching cat videos on the internet can boost a person's energy and create positive emotions—so it's no surprise that actual cat ownership has a number of benefits. Here are a few.

1. OWNING A CAT IS BETTER FOR THE ENVIRONMENT.
If you're worried about your carbon footprint, it’s better to own a cat than a dog. A 2009 study found that the resources needed to feed a dog over the course of its life create the same eco-footprint as that of a Land Cruiser. Meanwhile, cats—which eat less in general and are more likely to eat fish than corn- or beef-flavored products—only have the approximate carbon footprint of a small hatchback.

2. THEY'LL HELP YOU COPE ...

Cats provide tons of comfort.
JEFFBERGEN // ISTOCK VIA GETTY IMAGES PLUS
Losing a loved one is incredibly painful, but one of the best ways of coping is to own a pet. Cats have been shown to help people get over their loss more quickly, and show less physical symptoms of pain, like crying. Despite the fact that they are only animals, cats serve as a social support during difficult times. People in mourning report talking to their pet to work out their feelings, since it is often easier to talk to something that won’t respond and can’t judge than to another human being.

3. ... AND FIND A SIGNIFICANT OTHER.
If you’re a single guy and you can’t seem to get a date, get a cat! A British poll found that 82 percent of women agreed they are more attracted to men who like animals. And while having a dog will do wonders for your dating life, a whopping 90 percent of single women said that men who own a cat are “nicer” than other guys. Listing that you own a cat on your dating profile could do wonders for the number of responses you get—but remember, a cat is for life, not just until you find a partner.

4. CAT OWNERS ARE SMART.
A 2010 survey of British pet owners by the University of Bristol found that people who owned cats were more likely to have college degrees than their dog loving counterparts. In 2014, a researcher in Wisconsin surveyed 600 college students and found that cat owners were actually more intelligent as well. (But it's probably not the cat itself making the owner smarter: The researchers conducting the Bristol survey said that smarter people tend to work longer hours, and since cats require less attention than dogs, they are a better choice for the busy intellectual.)

5. YOU'LL HAVE A HEALTHIER HEART.

A cat is the cutest coworker you'll ever have.
FG TRADE // ISTOCK VIA GETTY IMAGES PLUS
Owning any pet is good for your heart. Cats in particular lower your stress level—possibly since they don’t require as much effort as dogs—and lower the amount of anxiety in your life. Petting a cat has a positive calming effect. One study found that over a 10-year period cat owners were 30 percent less likely to die of a heart attack or stroke than non-cat owners (although this might just be because cat owners are more relaxed and have lower stress in general).

6. CATS FULFILL YOUR NEED FOR COMPANIONSHIP.
The stereotype that dogs are more affectionate than cats is just that: a stereotype. In fact, it turns out that cats can be just as good of companions as dogs, especially for women. An Austrian study conducted in 2003 found that having a cat in the house is the emotional equivalent of having a romantic partner. As well as initiating contact much of the time, studies have shown cats will remember kindness shown to them and return the favor later.

But cats really do have the upper hand in these relationships. After thousands of years of domestication, cats have learned how to make a half purr/half howl noise that sounds remarkably like a human baby’s cry. And since our brains are programmed to respond to our children’s distress, it is almost impossible to ignore what a cat wants when it demands it like that.

7. THEY CAN TELL YOU (AND OTHERS) A LOT ABOUT YOUR PERSONALITY.
Your choice of pet reveals something about your personality. While dog lovers tend to be the life of the party, cat owners are quieter and more introverted. However, they score very highly when it comes to how trustworthy they are and how much they trust other people. Cat owners are also less manipulative and more modest.

8. YOU'LL SLEEP BETTER.

Get a cat and you'll catch some good Zzzs.
LINDA RAYMOND // ISTOCK VIA GETTY IMAGES PLUS
Several studies and polls in the UK have found that people (especially women) prefer to sleep with their cats than with their partners, and they even report sleeping better with a cat than with a human. One study from the Mayo Clinic Center for Sleep Medicine indicates that they might be on to something: 41 percent of the people in that study indicated that they slept better because of their pet, while only 20 percent said that it led to disturbances.

9. CAT OWNERSHIP MEANS FEWER ALLERGIES.
Sadly, it’s too late for you, but if you have a child on the way, it might be time to get a cat. In 2002, the National Institutes of Health released a study that found children under a year old who were exposed to a cat were less likely to develop allergies—and not just pet allergies. According to Marshall Plaut, M.D., chief of the allergic mechanisms section at the National Institute of Allergy and Infectious Diseases, "high pet exposure early in life appears to protect against not only pet allergy but also other types of common allergies, such as allergy to dust mites, ragweed, and grass." And while the cat parasite Toxoplasma gondii is a threat to young children, experts say that by changing your cat’s litter box every day and keeping the animal indoors, you should be safe and allergy free!

10. CATS CAN QUITE LITERALLY SAVE YOUR LIFE.

Who wouldn't be happy with a buddy this cute?
MAPODILE // ISTOCK VIA GETTY IMAGES PLUS
Cats have a reputation of being aloof and not caring about their humans, but they have saved countless lives over the years. One cat in the United Kingdom warned her human when he was about to have an epileptic seizure, while a cat in Montana woke up its two humans when a gas pipe started leaking. Firefighters told the couple that the house could easily have exploded if not for cat’s intervention.

One cat has even received the highest medal available to military animals. Simon the cat was onboard the HMS Amethyst, which was sailing up the Yangtze in 1949 when a shell hit the ship, killing several marines and severely injuring Simon. (The event marked the beginning of the 101-day siege of the ship, which would become known as the Yangtze Incident.) Simon was fixed up, and despite being injured, performed his ship duty and started catching the rats that were threatening the ship’s food supply, as well as providing moral support for the surviving sailors. Simon died not long after the ship returned to the UK, but he was posthumously awarded the UK’s Dickin Medal, recognized as the animal Victoria Cross, for "behaviour [of] the highest order, although the blast was capable of making a hole over a foot in diameter in a steel plate."


Source : https://www.mentalfloss.com/article/51154/10-scientific-benefits-being-cat-owner
