@tailwind base;
@tailwind components;
@tailwind utilities;

$screen-xs-max:                     640px  / 16px * 1em !default;
$screen-sm-min:                     641px  / 16px * 1em !default;
$screen-sm-max:                     768px  / 16px * 1em !default;
$screen-md-min:                     769px  / 16px * 1em !default;
$screen-md-max:                     1024px / 16px * 1em !default;
$screen-lg-min:                     1025px / 16px * 1em !default;

body {
    @apply text-base;
}

input[type=button], input[type=submit], input[type=reset] {
    cursor: pointer;
    @apply bg-gray;
}

.section-search {
    background-image: url("/static/images/HeroImagesm.png");
    background-size: cover;

    @media (min-width: $screen-md-min) {
      background-image: url("/static/images/HeroImagemd.png");
    }

    width: 100%;
    height: auto;
    @apply rounded-t-3xl p-16;


    select, input {
        height: 50px;
        @apply text-sm px-4 py-2 rounded-3xl;
    }

    select {
        width: 250px;
        @apply bg-white;
    }

}

.title-underline::before {
    content: '';
    width: 70px;
    height: 4px;
    display: block;
    @apply mb-6 bg-black;
}

.fas {
    @apply ml-2;
}

.section-most-searched {
    .img-card:first-of-type {
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 25px;
            left: 15px;
            width: 30px;
            height: 200px;
            display: block;
            z-index: -1;

            @apply rounded-3xl bg-primary;

            @media (min-width: $screen-md-min) {
                left: -15px;
            }
        }


    }
}

.section-skills {
    .skill-bars {
        div {
            content: "";
            width: 25px;
            height: 5px;
            display: block;

            @apply rounded-3xl mr-3 bg-gray;
        }
    }

    @media (min-width: $screen-md-min) {
        .skill-bars {
            div {
                width: 50px;
                height: 10px;
                @apply mr-6;
            }
        }
    }

    .skill-1 {
        .bar-1 {
            @apply bg-secondary;
        }
    }

    .skill-2 {
        .bar-1, .bar-2 {
            @apply bg-secondary;
        }
    }

    .skill-3 {
        .bar-1, .bar-2, .bar-3 {
            @apply bg-secondary;
        }
    }

    .skill-4 {
        .bar-1, .bar-2, .bar-3, .bar-4 {
            @apply bg-secondary;
        }
    }

    .skill-5 {
        .bar-1, .bar-2, .bar-3, .bar-4, .bar-5 {
            @apply bg-secondary;
        }
    }

}

.image-square {
    height: 250px;
    width: 250px;
}
